
      <div id="content">
				
					<h1>Garden Products</h1>

				<% if (currentUser && currentUser.admin) { %>
				
				<form action="/gardenProducts/new" method="GET">
					<button name="newGardenProduct">Add New Product</button>
				</form>
				
				<% } %>
				<div id="article" >
				<p>
				</p>

					<ul class="section">
						
						<% gardenProducts.forEach(gardenProduct => { %>
						<li>
							<a href="<%= `/gardenProducts/${gardenProduct._id}` %>"><img src="images/<%= gardenProduct.imageURL %>" alt="gardenProduct Image"></a>
							<div>
								<h2> <a href="<%= `/gardenProducts/${gardenProduct._id}` %>"><%= gardenProduct.name %> </a></h2>
								<p><%= gardenProduct.description %></p>
								<p> $ <%= gardenProduct.price %></p>
								<% if (currentUser && currentUser.admin) { %>
								<form action="<%=`/gardenProducts/${gardenProduct._id}/edit`%>">
									<button name="edit" value="<%=gardenProduct._id%>">
								  		Edit Product 
									</button>
								</form>	
								<form action="<%= `/gardenProducts/${gardenProduct._id}/delete?_method=DELETE` %>">
									<button name="delete" value="<%=gardenProduct._id%>" onclick="return confirm('Are you sure you want to delete this record?')">
								  		Delete
									</button>
								</form>	
								<%};%>
							</div>
						</li>
						<%});%>
					</ul>
					
					
				</div>
		</div>
