
      <div id="content">
				<h1>Bees</h1>
				<h3><strong>Beehive Locations</strong></h3>
				<% if (currentUser && currentUser.admin) { %>
				<form action="/beehives/new" method="GET">
					<button name="newBeehive">Add New Beehive</button>
				</form>
				<% } %>
				<p>
					Although starting small, Buttercup Bees has a few different locations where bees are kept. The following locations are where the main groups of bees are at
				</p>
				
				<ul class="section">
				<% beehives.forEach((beehive) => { %>
					<li>
						<img src = "images/<%= beehive.imageURL %>" alt = "">
						<div>
							<h2><%= beehive.Location %></h2>
							<p>
								<%= beehive.HiveID %>
							</p>
							<p>
								<%= beehive.Description %>
							</p>
							<% if (currentUser && currentUser.admin) { %>
								<form action="<%=`/beehives/${beehive._id}/edit`%>">
									<button name="edit" value="<%=beehive._id%>">
								  		Edit Beehive Details
									</button>
								</form>	
								<form action="<%= `/beehives/${beehive._id}/delete?_method=DELETE` %>">
									<button name="delete" value="<%=beehive._id%>" onclick="return confirm('Are you sure you want to delete this record?')">
								  		Delete
									</button>
								</form>	
							<% } %> 
						</div>
					</li>
					<%})%>
				</ul>
			</div>
		</div>
	
