
    <div id="content">
      <h1 class="center">Garden Product Data
          <%= gardenProduct.name %>
        </h1>

        <table class="table">
          <tr>
            <th>Image</th>
            <td>
              <img src="/images/<%= gardenProduct.imageURL %>" alt="">
             </td>
          </tr>
          <tr>
            <th>Garden Product</th>
            <td>
              <%= gardenProduct.name %>
            </td>
          </tr><br>
          <tr>
            <th>Description</th>
            <td>
              <%= gardenProduct.description%>
            </td>
          </tr><br>
          <tr>
            <th>Price</th>
            <td>
              <%= gardenProduct.price%>
            </td>
          </tr>
        </table>


        <div>
          <a class="button" href="/gardenProducts">View all Garden products</a>
        </div>
    </div>
 

<!-- Shopping Cart -->
<div>
  <form action="/cart/add" method="post">
    <input type="hidden" id="_id" name="_id" value="<%= gardenProduct._id %>" >
    <input type="hidden" id="title" name="title" value="<%= gardenProduct.name %>" >
    <input type="hidden" id="price" name="price" value="<%= gardenProduct.price %>" >
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add to Cart</button>

  
  </form>
</div>