
    <div id="content">
      <h1 class="center">Product Data
          <%= product.name %>
        </h1>

        <table class="table">
          <tr>
            <th>Image</th>
            <td>
              <img src="/images/<%= product.imageURL %>" alt="">
             </td>
          </tr>
          <tr>
            <th>Product</th>
            <td>
              <%= product.name %>
            </td>
          </tr><br>
          <tr>
            <th>Description</th>
            <td>
              <%= product.description%>
            </td>
          </tr><br>
          <tr>
            <th>Price</th>
            <td>
              <%= product.price%>
            </td>
          </tr>
        </table>


        <div>
          <a class="button" href="/products">View all bee products</a>
        </div>
    </div>
 

<!-- Shopping Cart -->
<div>
  <form action="/cart/add" method="post">
    <input type="hidden" id="_id" name="_id" value="<%= product._id %>" >
    <input type="hidden" id="title" name="title" value="<%= product.name %>" >
    <input type="hidden" id="price" name="price" value="<%= product.price %>" >
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add to Cart</button>

  
  </form>
</div>